{% extends 'base.html' %}

{% block title %} Cadastro {% endblock%}

{% block head%}
  <style>
    body{
      background-color: #f5f5f5;
    }
    #formulario_cadastro{
      border-radius: 10px;
      background-color: white;
      margin: auto;
      padding: 15px;
      width: 60%;
    }
    #mensagem{
      margin:auto;
      width: 60%;
    }
  </style>

  <script>
    
    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('endereco').value=("");
            document.getElementById('bairro').value=("");
            document.getElementById('cidade').value=("");
            document.getElementById('estado').value=("");
            }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('endereco').value=(conteudo.logradouro);
            document.getElementById('bairro').value=(conteudo.bairro);
            document.getElementById('cidade').value=(conteudo.localidade);
            document.getElementById('estado').value=(conteudo.uf);
            } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }
        
    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {
              
                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('endereco').value="";
                document.getElementById('bairro').value="";
                document.getElementById('cidade').value="";
                document.getElementById('estado').value="";
                var script = document.createElement('script');

                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                document.body.appendChild(script);
                

            }
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        }
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };

    </script>
{% endblock%}
{% block content%}
  <!--Monstrando as mensagens de erros-->
	{% if messages %}
	<div class="span12">
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}" id="mensagem">
			{{ message|safe }}
		</div>
	{% endfor %}
	</div>
	{% endif %}

  <!--Formulário-->
  <div class='container mt-4' id = "formulario_cadastro">
  <form method = "POST" >
    {%csrf_token%}
    
    <label class="form-label">Email:</label>
    {{ form_user.username}}
    <div class="row mt-1">
      <div class="col-sm">
        <label class="form-label">Senha:</label>
        {{ form_user.password1 }}
      </div>
      <div class="col-sm">
        <label class="form-label">Confime sua senha:</label>
        {{ form_user.password2}}
      </div>
    </div>
    <div class="row mt-1">
    <div class="col-sm-9">
    <label class="form-label">Nome:</label>
    {{form_pessoa.nome}}
    </div>
    <div class="col-sm-3">
      <label class="form-label">CEP:</label>
      {{form_pessoa.cep}}
    </div>
    </div>
    <label class="form-label mt-1">Rua:</label>
    {{form_pessoa.endereco}}
    <div class="row mt-1">
      <div class="col-sm-9">
        <label class="form-label">Bairro:</label>
        {{form_pessoa.bairro}}
      </div>
      <div class="col-sm">
        <label class="form-label">Número:</label>
        {{form_pessoa.numero}}
      </div>
    </div>
    <label class="form-label mt-1">Complemento:</label>
    {{form_pessoa.complemento}}
    <div class="row mt-1">
    <div class="col-sm">
      <label class="form-label">Cidade:</label>
      {{form_pessoa.cidade}}
    </div>
    <div class="col-sm">
      <label class="form-label">Estado:</label>
      {{form_pessoa.estado}}
    </div>
    </div>

    <br>
    <input class="btn btn-primary" type = "submit" name = "Create User">
  </form>
  </div>

{% endblock%}