{% extends 'base.html' %}

{% block title %} Home {% endblock%}

{% block content%}

    <!--Cabeçalho -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home_page'%}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active"  href="{% url 'produto_page' %}">Produto</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="{% url 'logout_page'%}">Sair</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

    <!--Dashboard-->
    <div class="card mx-auto mt-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Produtos cadastrados em nosso sistema</h5>
        <h6 class="card-subtitle mb-2 text-muted">Quantidade</h6>
        <p class="card-text">A quantidade atual de produtos diferentes cadastrado no site é de {{produtos}} produtos</p>
    </div>
    </div>
  {% endblock%}