{% extends 'base.html' %}

{% block title %} Index {% endblock%}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home_page'%}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="{% url 'login_page'%}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active"  href="{% url 'cadastro_page' %}">Cadastro</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "container">
            <div class = "col align-self-center">
            <ul class="list-group">
                <li class="list-group-item">Francisco Geovane Barros da Silva</li>
                <li class="list-group-item">fgbs2000@gmail.com</li>
                <li class="list-group-item">Rua Juvenal de Castro Lima, Nº 06, São Francisco, Pentecoste-CE</li>
                <li class="list-group-item">https://github.com/GeovaneBarros</li>
                <li class="list-group-item">https://linkedin.com/GeovaneBarros02</li>    
            </ul> 
        </div>  
    </div>
{% endblock %}