{% extends 'base.html' %}

{% block title %} Cadastro {% endblock%}

{% block content%}
  <body>
    <div class = 'container'>
    <table class="table table-hover" id = 'listar_produto_table'>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Estoque</th>
        </tr>
      </thead>
      <tbody>
      {% for produto in produtos %}
        {% if produto.estoque == 0 %}
          <tr class='table-warning'>
        {% else %}
          <tr>
        {% endif %}
          <th scope="row">{{produto.id}}</th>
          <td>{{produto.nome}}</td>
          <td>{{produto.preco}}</td>
          <td>{{produto.estoque}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.24/datatables.min.js"></script>

    <script>
      $('#listar_produto_table').DataTable({
        responsive: true,
        "aaSorting": [],
        "pageLength": 10,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });

    </script>
{% endblock%}